<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Your Balance</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <img th:src="@{/img/money-euro.jpg}"/>
	<ul>
	    <li th:text="|id: ${customer.id}|"></li>
	    <li th:text="|name: ${customer.firstName} ${customer.lastName}|"></li>
	    <li th:text="|balance: ${#numbers.formatDecimal(customer.balance, 1, 'POINT', 2, 'COMMA')} euro|"></li>
	    <li th:text="|balance: &euro;${#numbers.formatDecimal(customer.balance, 1, 2, 'COMMA')}|"></li>
	</ul>
</body>
</html>