<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{event-overview.title}"></title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

	<!-- Include the localeSwitcher fragment (custom fragment) -->
	<div th:replace="~{fragments/header :: header}"></div>

	<main>
		<div>
			<div class="favorite-container">
				<h1 th:text="#{event-overview.title}"></h1>
				<form th:if="${isUSER}" th:action="@{/events/favorites}"
					method="get">
					<input class="button" type="submit"
						th:value="#{event-overview.favorites}" />
				</form>
				<form th:if="${isADMIN}" th:action="@{/events/create}"
					method="post">
					<input class="button" type="submit"
						th:value="#{event-overview.create}" />
				</form>
			</div>
			<div class="event-container">
				<div class="event-item" th:each="event: ${eventList}">
					<a th:if="${isLoggedIn}" class="invisible"
						th:href="|/events/${event.id}|">
						<div class="event-content">
							<h3 class="event-title" th:text="${event.name}"></h3>
							<h4 class="speakers">
								<i
									th:text="|#{event-overview.event-content.room}: ${event.room.name}|"></i>
							</h4>
							<p
								th:text="|#{event-overview.event-content.speakers}: ${#strings.listJoin(event.speakers, ', ')}|"></p>
							<p class="project-description"
								th:text="|#{event-overview.event-content.date}: ${{event.dateTime}}|"></p>
						</div>
					</a>
					<div th:unless="${isLoggedIn}" class="event-content">
						<h3 class="event-title" th:text="${event.name}"></h3>
						<h4 class="speakers">
							<i
								th:text="|#{event-overview.event-content.room}: ${event.room.name}|"></i>
						</h4>
						<p
							th:text="|#{event-overview.event-content.speakers}: ${#strings.listJoin(event.speakers, ', ')}|"></p>
						<p class="project-description"
							th:text="|#{event-overview.event-content.date}: ${{event.dateTime}}|"></p>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- Include the footer fragment -->
	<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>