<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{event-cu.title}"></title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

	<!-- Include the localeSwitcher fragment (custom fragment) -->
	<div th:replace="~{fragments/header :: header}"></div>

	<main>
		<div>
			<div class="form-container">
				<form class="form" th:object="${event}" th:action="@{/events/{id}/edit(id=${event.id})}" method="post">
				<h1 th:text="#{event-cu.title}"></h1>
				  <div class="form-group">
				    <label class="form-label-input-text" for="name" th:text="#{event-cu.form.name.label}"></label>
				    <input
				      class="form-input-text"
				      id="name"
				      name="name"
				      th:aria-label="#{event-cu.form.name.arial}"
				      type="text"
				      th:placeholder="#{event-cu.form.name.placeholder}"
				      th:field="*{name}"
				      required
				    />
	    			<span th:if="${#fields.hasErrors('name')}"
						th:errorclass="error" th:errors="*{name}"></span>
				  </div>
				  <div class="form-group">
				    <label class="form-label-input-text" for="description" th:text="#{event-cu.form.description.label}"></label>
				    <input
				      class="form-input-text"
				      id="description"
				      name="description"
				      th:aria-label="#{event-cu.form.description.arial}"
				      type="text"
				      th:placeholder="#{event-cu.form.description.placeholder}"
				      th:field="*{description}"
				    />
   	    			<span th:if="${#fields.hasErrors('description')}"
						th:errorclass="error" th:errors="*{description}"></span>
				  </div>
  				  <div class="form-group">
				    <label class="form-label-input-text" for="datetime" th:text="#{event-cu.form.datetime.label}"></label>
				    <input 
   				      	class="form-input-text"
						id="datetime"
						name="datetime"
						th:aria-label="#{event-cu.form.datetime.arial}"
				    	type="text" 
				    	th:field="*{dateTime}"
			    	/>
   	    			<span th:if="${#fields.hasErrors('dateTime')}"
						th:errorclass="error" th:errors="*{dateTime}"></span>
				  </div>
			      <div class="form-group">
				  	<label for="room" class="form-label-input-text" th:text="#{event-cu.form.room.label}"></label>
				    <select id="room" class="form-select" name="room" th:field="*{room}" th:aria-label="#{event-cu.form.room.arial}">
				    	<option th:each="room : ${roomList}" th:value="${room}" th:text="${room.name}"></option>
				    </select>
				    <span th:if="${#fields.hasErrors('room')}" th:errors="*{room}" th:errorclass="error"></span>
			      </div>
				  <div class="form-actions">
				    <button class="form-btn-primary" id="submit_form" type="submit" th:text="#{event-cu.form.primary.button}"></button>
				  </div>
				</form>
			</div>
		</div>
	</main>

	<!-- Include the footer fragment -->
	<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>