<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{event-details.title}"></title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

	<!-- Include the localeSwitcher fragment (custom fragment) -->
	<div th:replace="~{fragments/header :: header}"></div>

	<main>
		<div>
			<h1 th:text="#{event-details.title}"></h1>
			<div class="event-container">
				<div class="event-content">
					<h3 class="event-title" th:text="${event.name}"></h3>
					<h4 class="speakers">
						<i
							th:text="|#{event-overview.event-content.room}: ${event.room.name}|"></i>
					</h4>
					<p
						th:text="|#{event-overview.event-content.speakers}: ${#strings.listJoin(event.speakers, ', ')}|"></p>
					<p class="project-description"
						th:text="|#{event-overview.event-content.date}: ${{event.dateTime}}|"></p>
					<p class="project-description"
						th:text="${event.description}"></p>
				</div>
			</div>
		</div>
	</main>

	<!-- Include the footer fragment -->
	<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>