<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{event-details.title}"></title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

	<!-- Include the localeSwitcher fragment (custom fragment) -->
	<div th:replace="~{fragments/header :: header}"></div>

	<main>
		<div>
			<div class="favorite-container">
				<h1 th:text="#{event-details.title}"></h1>
				<form th:if="${isUSER}"
					th:action="@{/events/{id}/favorite(id=${event.id})}" method="post">
					<input class="button" type="submit"
						th:value="${!isFavorited} ? #{event-details.favorite} : #{event-details.unfavorite}"
						th:disabled="${!isFavorited and favoriteCountExceeded}" />
						<input type="hidden" name="_csrf" th:value="${_csrf.token}" />
				</form>
				<form th:if="${isADMIN}"
					th:action="@{/admin/events/{id}/edit(id=${event.id})}" method="get">
					<input class="button" type="submit"
						th:value="#{event-details.edit}" />
				</form>
			</div>
			<div class="event-content">
				<h2 class="event-title" th:text="${event.name}"></h2>
				<h4 class="speakers">
					<i
						th:text="|#{event-overview.event-content.room}: ${event.room.name} #{event-overview.event-content.room.capacity(${event.room.capacity})}|"></i>
				</h4>
				<p
					th:text="|#{event-overview.event-content.speakers}: ${#strings.listJoin(event.speakers, ', ')}|"></p>
				<p class="project-description"
					th:text="|#{event-overview.event-content.date}: ${{event.dateTime}}|"></p>
				<p class="project-description" th:text="${event.description}"></p>
			</div>
		</div>
	</main>

	<!-- Include the footer fragment -->
	<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>