<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{event-overview.title}"></title>
<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>

	<!-- Include the localeSwitcher fragment (custom fragment) -->
	<div th:replace="~{fragments/header :: header}"></div>

	<main>
		<div class="form-container">
		  <form class="form" th:action="@{/login}" method="post">
		    <div class="form-group">
		      <label class="form-label-input-text" for="username" th:text="#{login.form.username.label}"></label>
		      <input
		        class="form-input-text"
		        id="username"
		        name="username"
		        th:aria-label="#{login.form.username.arial}"
		        type="text"
		        th:placeholder="#{login.form.username.placeholder}"
		        autocapitalize="off"
		        autocorrect="off"
		        autocomplete="username"
		        required
		      />
		    </div>
		    <div class="form-group">
		      <label class="form-label-input-text" for="password" th:text="#{login.form.password.label}"></label>
		      <input
		        class="form-input-text"
		        id="password"
		        name="password"
		        th:aria-label="#{login.form.password.label}"
		        type="password"
		        placeholder="******************"
		        autocapitalize="off"
		        autocorrect="off"
		        autocomplete="current-password"
		        spellcheck="false"
		        required
		      />
		    </div>
		    <div class="form-actions">
		      <button class="form-btn-primary" id="submit_form" type="submit" th:text="#{login.form.primary.button}"></button>
		    </div>
		    <div th:if="${error}" class="error" th:text="${error}"></div>
		  </form>
		</div>
	</main>

	<!-- Include the footer fragment -->
	<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>