<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{overview.title}"></title>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    
     <!-- Include the localeSwitcher fragment (custom fragment) -->
    <div th:replace="~{fragments/localeSwitcher :: locale-switch}"></div>
    
    <main>
		<div class="event-container">
			<p class="event-item" th:each="event: ${eventList}" th:text="${event}"></p>
		</div>
	</main>
    
    <!-- Include the footer fragment -->
    <div th:replace="~{fragments/footer :: footer}"></div>
     
</body>
</html>