
<header xmlns:th="http://www.thymeleaf.org" th:fragment="header">
	<div class="container">
		<a th:href="@{/}"> <img th:src="@{/img/hehe-logo.png}"
			alt="Hehe cat" /> <span class="link"> Hehe.</span>
		</a>
		<div class="header_buttons">
			<form class="header-lang-form" th:action="@{/changeLocale}"
				method="get">
				<select class="header-lang-select" name="lang"
					onchange="this.form.submit()">
					<option value="nl" th:selected="${#locale.language == 'nl'}">Nederlands</option>
					<option value="en" th:selected="${#locale.language == 'en'}">English</option>
				</select>
			</form>
			<div class="login_div"
				th:text="false ? #{header.user} : #{header.admin}"></div>
			<button class="button"
				th:text="false ? #{header.logout} : #{header.login}"></button>
		</div>
	</div>
</header>