
<header xmlns:th="http://www.thymeleaf.org" th:fragment="header">
	<div class="container">
		<a th:href="@{/}"> <img th:src="@{/img/hehe-logo.png}"
			alt="Hehe cat" /> <span class="link"> Hehe.</span>
		</a>
		<div class="header_buttons">
			<form class="header-lang-form" th:action="@{/changeLocale}"
				method="get">
				<select class="header-lang-select" name="lang"
					onchange="this.form.submit()">
					<option value="nl" th:selected="${#locale.language == 'nl'}">Nederlands</option>
					<option value="en" th:selected="${#locale.language == 'en'}">English</option>
				</select>
			</form>
			<div class="login_div"
				th:text="${#strings.isEmpty(role)} ? #{userRole.guest} : #{${role}}"></div>
			<form th:if="${#strings.isEmpty(username)}" th:action="@{/login}" method="get">
				<input class="button" type="submit" th:value="#{header.login}" /> 
			</form>
			<form th:unless="${#strings.isEmpty(username)}" th:action="@{/logout}" method="post">
				<input class="button" type="submit" th:value="#{header.logout}" /> 
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			</form>
		</div>
	</div>
</header>